/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: xxx-large;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
  display: inline;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* li a {
  display: inline;
} */

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  flex-wrap: wrap;
}

form label {
  font-weight: bold;
  display: table-cell;
  width: 250px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.location {
  display: flex;
}

.arrive {
  display: flex;
}

.depart{
  display: flex;
}

.dropdown {
  display: flex;
  
}
/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media (min-width: 480px){
  header {
    display: flex;
    justify-content: space-between;
  }

  .forms {
    display: flex;
  }

  .location {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .arrive{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .depart{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  button {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .about{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .about img{
    width: 33.33%;
    padding: 5px;
  }

  .ideas-1 {
    display: flex;
  }

  .forest{
    width: 50%;
    margin: 5px;
  }

  .beaches {
    width: 50%;
    margin: 5px;
  }

  .ideas-2{
    display: flex;
  }

  .cabins{
    width: 50%;
    margin: 5px;
  }

  .pets{
    width: 50%;
    margin: 5px;
  }

  .host {
    display: flex;
    align-items: center;
  }
  .host-content {
    display: flex;
    flex-direction: column;
  }

  .host img {
    width: 50%;
  }
}

